@using CourseManager.Models.Teachers;
@model TeacherAddCourseViewModel;
@{
    ViewData["Title"] = "AddCourse";
}

<h1>AddCourse</h1>

<form asp-action="AddCourse" method="post">
    
    <div class="row">
        <div class="col-2">
            Course Name
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Course Name
        </div>
        <div class="col-10">
            <textarea class="form-control" 
                      asp-for="Description">
    
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Save</button>
         </div>
    </div>
</form>

